@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lora:ital@0;1&display=swap');
@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate-text {
  opacity: 0;
  animation: fadeInUp 0.5s ease-out forwards;
}

.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.3s; }

blockquote{
  font-size: 1.5em;
  color: #858585
}

body {
  max-width: 800px;
  margin: auto;
  font-family: 'DM Sans', sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

* {
  box-sizing: border-box;
}
em{
  font-family: 'Lora', serif;
}
h1{
  font-family: 'Lora', serif;
  font-size: 2em;
}
h2{
  font-family: 'Lora', serif;
  margin-top: 1.5em;
  font-size: 1.5em;

}
h3{
  font-family: 'Lora', serif;
  font-size: 1.3em;
}
h4{
  font-family: 'Lora', serif;
}
h6{
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top:1em;
  margin-bottom:1em;
}
p {
  color:#303030;
  font-size: 1em;
  line-height: 1.3em;
}
strong{
  font-weight:700;
  color: rgb(18, 61, 92);
}
em{
  color: #858585;
}
a {
  color: #5F957B;
  text-decoration: none;
}

a:hover {
  color: #666;
}

img {
  max-width: 100%;
  display: block;
}

main{
  max-width: 800px;
  margin: auto;
  line-height: 1.5em;
}
button {
  background-color: #5F957B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-weight:600
}
.figma{
  max-width:1100px;
}
button:hover{
  background-color: #20553b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-weight:600
}
@media (max-width: 900px) {
  body{
    width:99vw;
  padding-right: 0 auto;
}
}