@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');
blockquote{
  font-size: 1.5em;
  color: #858585
}

body {
  max-width: 800px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

* {
  box-sizing: border-box;
}
em{
  font-family: 'Lora', serif;
}
h1{
  font-family: 'Lora', serif;
  font-size: 2em;
}
h2{
  font-family: 'Lora', serif;
  margin-top: 1.5em;
  font-size: 1.5em;

}
h3{
  font-family: 'Lora', serif;
  font-size: 1.3em;
}
h4{
  font-family: 'Lora', serif;
}
h6{
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top:1em;
  margin-bottom:1em;
}
p {
  font-size: 1em;
  line-height: 1.3em
}
strong{
  font-weight:700;
  color: rgb(18, 61, 92);
}
em{
  color: #858585;
}
a {
  color: #5F957B;
  text-decoration: none;
}

a:hover {
  color: #666;
}

img {
  max-width: 100%;
  display: block;
}

main{
  max-width: 800px;
  margin: auto;
  line-height: 1.5em;
}
button {
  background-color: #5F957B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-weight:600
}
.figma{
  max-width:1100px;
}
button:hover{
  background-color: #20553b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  font-weight:600
}
@media (max-width: 900px) {
  body{
    width:99vw;
  padding-right: 0 auto;
}
}